---
title: The Legislative Journal
desc: Legislation is necessarily in the public domain since it must be available to everyone, including judiciary institutions. However, our laws are very difficult to access because they are each published in different versions and in different factbooks, themselves from different nations. This excessive decentralization of our legislation calls into question its belonging to the public domain; it also weakens our judicial system. In order to guarantee transparency of the political process of our region, its democracy as well as its justice, it is essential that each one of us can freely access and consult the legislation easily. That is the purpose of <em>The Legislative Journal</em>.
---

<div class="Page_content">
  <section>
    <h1>Constitutional Block</h1>
    <ul>
      {% assign constitutions = site.bills | where: "category", "constitution" %}
      {% for bill in constitutions %}
        <li><a href="{{ bill.url | absolute_url }}">{{ bill.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h1>Acts</h1>
    <ul>
      {% assign acts = site.bills | where: "category", "act" %}
      {% for bill in acts %}
        <li><a href="{{ bill.url | absolute_url }}">{{ bill.title }}</a></li>
      {% endfor %}
    </ul>
  </section>

  <section>
    <h1>Rulesets</h1>
    <ul>
      {% assign rulesets = site.bills | where: "category", "ruleset" %}
      {% for bill in rulesets %}
        <li><a href="{{ bill.url | absolute_url }}">{{ bill.title }}</a></li>
      {% endfor %}
    </ul>
  </section>
</div>
